extend  ../components/header.pug

block append head
    title Pokemon
    script(src='/static/scripts/shinytoggle.js')
    script(src='/static/scripts/dropdowntoggle.js')
    script(src='/static/scripts/cardheadtoggle.js')

block append body
    .container.is-max-desktop.pl-6.pr-6
        nav.breadcrumb(aria-label="breadcrumbs")
            ul
                li
                    a(href="/") Home
                li
                    a(href="/pokemon") Pokemon
                li
                    a(href="/pokemon/search") Search
                li.is-active
                    a(aria-current="page") Pokemon ##{id}
        
        form(action="/pokemon/search", method="get", id="search").mb-6
            input.input(type="text" name="search" placeholder="Search for something!" onsubmit="document.forms['search'].submit()")
            input(type="submit" hidden)


        .columns
            .column
                //-- Pokemon name and sprite
                .card.mb-1 
                    .card-header
                        if germanName !== englishName
                            .card-header-title
                                p 🇩🇪 #{germanName}
                            .card-header-title
                                p 🇬🇧 #{englishName}
                            .card-header-icon
                                p ##{id}
                        else
                            .card-header-title
                                p #{germanName}
                    .card-content
                        .columns.mb-0.is-mobile
                            .column
                                img(src=`${spriteFront}` style="height: auto; width: 100%")#sprite-front
                            .column
                                img(src=`${spriteBack}` style="height: auto; width: 100%")#sprite-back
                        .columns
                            .column.is-half.has-text-centered.mt-2
                                img(src=`${type1.sprite}` style="width: 50px; height: 20px;").mr-1
                                if type2
                                    img(src=`${type2.sprite}` style="width: 50px; height: 20px;")
                            .column.is-half.has-text-centered
                                button.button.is-centered#shiny-toggle Shiny
                //-- Evolution
                .card.mt-3
                    .card-header
                        .card-header-title
                            p Evolution
                    .card-content
                        each evolution, index in evolutionChain
                            if evolution.evolutions.length === 0
                                .columns.is-mobile
                                    .column.has-text-centered
                                        img(src=`${evolution.speciesSprite}`)

                            each siblingEvolution in evolution.evolutions
                                .columns.is-vcentered.is-mobile
                                    .column.has-text-centered(onclick=`location.href='/pokemon/pkmn/${evolution.species}'`)
                                        img(src=`${evolution.speciesSprite}`)
                                    .column.has-text-centered
                                            each condition in siblingEvolution.conditions
                                                if Object.keys(condition).includes("level")
                                                    p Level: #{condition.level}
                                                    
                                                if Object.keys(condition).includes("gender")
                                                    if condition.gender === 2
                                                        p Male
                                                    else if condition.gender === 1
                                                        p Female

                                                if Object.keys(condition).includes("item")
                                                    img(src=`${condition.itemSprite}` style="width: 40%; height: auto" onclick=`location=href='/pokemon/item/${condition.item}'`)

                                                if Object.keys(condition).includes("happiness")
                                                    p Freundschaft + Level hoch
                                                    hr.m-2
                                                    p Happiness + Level up

                                                if condition.trigger === "shed"
                                                    p 5 Pkmn in team + 1 Pokeball
                                                    p Level: 20

                                                if condition.trigger === "spin"
                                                    p Gib eine Süssigkeit und drehe im Kreis
                                                    hr.m-2
                                                    p Give a sweet and spin your character

                                                if condition.trigger === "tower-of-darkness"
                                                    p Turm des Unlichts
                                                    hr.m-2
                                                    p Tower of Darkness

                                                if condition.trigger === "tower-of-waters"
                                                    p Turm des Wassers
                                                    hr.m-2
                                                    p Tower of Waters

                                                if condition.trigger === "three-critical-hits"
                                                    p 3 Volltreffer
                                                    hr.m-2
                                                    p 3 Critical hits
                                                
                                                if condition.trigger === "take-damage"
                                                    p Nimm schaden
                                                    hr.m-2
                                                    p Take damage

                                    .column.has-text-centered(onclick=`location.href='/pokemon/pkmn/${siblingEvolution.target}'`)
                                        img(src=`${siblingEvolution.targetSprite}`)
            .column
                //-- Attacks
                .card
                    .card-header.card-toggle
                        .card-header-title
                            p Attacken / Attacks
                    .card-content.is-hidden
                        .columns
                            .column.is-vcentered
                                if game
                                    if game.german === game.english
                                        p #{game.german}
                                    else 
                                        p #{game.german}
                                        p #{game.english}
                            .column
                                .dropdown
                                    .dropdown-trigger
                                        button.button.trigger-button
                                            p Select Game
                                    .dropdown-menu
                                        .dropdown-content
                                            each generation in moves

                                                if (generation.game.name === game)
                                                    .dropdown-item.is-active(href=`?game=${generation.game.name}`) 
                                                        p #{generation.game.details.de}
                                                        p #{generation.game.details.en}
                                                else 
                                                    .dropdown-item(onclick=`location.href='?game=${generation.game.name}';`) 
                                                        p #{generation.game.details.de}
                                                        p #{generation.game.details.en}
                                                .dropdown-divider
                        for generation in moves
                            if generation.game.name === game.name
                                //-- Draw a table with all moves
                                table.table(style="width: 100%")
                                    thead
                                        tr
                                            th Type
                                            th Effect
                                            th Name
                                            th Level
                                    tbody(style="width: 100%")
                                    each move in generation.moves
                                        tr
                                            td
                                                img(src=`${move.typeSprite}` style="width: 50px; height: auto;")
                                            td
                                                if move.attackType === "physical"
                                                    img(src="https://i.stack.imgur.com/UATOp.png" style="width: 45px; height: auto;")
                                                else if move.attackType === "special"
                                                    img(src="https://i.stack.imgur.com/dS0qQ.png" style="width: 45px; height: auto;")
                                                else if move.attackType === "status"
                                                    img(src="https://i.stack.imgur.com/LWKMo.png" style="width: 45px; height: auto;")
                                            if move.moveNameGerman === move.moveNameEnglish
                                                td #{move.moveNameGerman}
                                            else 
                                                td 
                                                    p #{move.moveNameGerman}
                                                    p #{move.moveNameEnglish}
                                            td #{move.method}
                                            
                                        tr 
                                        
                                    

                //-- Growth Rate
                .card.mt-3
                    .card-header
                        .card-header-title
                            p Wachstum / Growth
                    .card-content
                        if growth === "slow"
                            .columns
                                .column
                                    p Langsam
                                .column
                                    p Slow
                        else if growth === "medium"
                           .columns
                                .column
                                    p Mittel
                                .column
                                    p Medium
                        else if growth === "fast"
                            .columns
                                .column
                                    p Schnell
                                .column
                                    p Fast
                        else if growth === "medium-slow"
                            .columns
                                .column
                                    p Mittel Langsam
                                .column
                                    p Medium Slow
                        else if growth === "slow-then-very-fast"
                            .columns
                                .column
                                    p Langsam dann sehr schnell
                                .column
                                    p Slow then very fast
                        else if growth === "fast-then-very-slow"
                            .columns
                                .column
                                    p Schnell dann sher langsam
                                .column
                                    p Fast then very slow
                        else 
                            p #{growth}
                            
//-- don't forget about egg groups