doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(type='text/css' rel='stylesheet' href=host + '/static/styles/index.css')
  link(rel='icon' type='image/png' href=host + '/static/images/favicon.ico')
  style.
    @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  script.
    document.addEventListener("DOMContentLoaded", () => {
    const $navbarBurgers = Array.prototype.slice.call(
    document.querySelectorAll(".navbar-burger"),
    0
    );
    if ($navbarBurgers.length > 0) {
    $navbarBurgers.forEach((el) => {
    el.addEventListener("click", () => {
    const target = el.dataset.target;
    const $target = document.getElementById(target);
    el.classList.toggle("is-active");
    $target.classList.toggle("is-active");
    });
    });
    }
    });
nav.navbar(role='navigation' aria-label='main navigation')
  .navbar-brand
    a.navbar-item(href=host)
      img(src=host + '/static/images/favicon.ico')
    a.navbar-burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
      span(aria-hidden='true')
      span(aria-hidden='true')
      span(aria-hidden='true')
  #navbarBasicExample.navbar-menu
    .navbar-start
      a.navbar-item(href=host)  Home 
      a.navbar-item(href=host + '/ac')
        | Animal Crossing
.columns
  .column
    .card
      a(href=host + '/ac/fish')
        .card-content
          .content
            p.title.is-5 Fish
            p Get Fish price
