extend  ../components/header.pug

block append head
  title Raspberry Pi
  script(src="/static/scripts/home.js")

block append body
    .container.is-max-desktop.p-6
      .columns
        .column
          .columns
            .column
              .card#blackBinCard.is-hidden-mobile
                .card-header-title.pb-1
                  figure.container(style="display: flex; align-items: center;")
                    img.icon(src='/static/assets/black_bin.svg', alt='Green Bin Icon').mr-1
                    p Black Bin
                .card-content.pt-1.pb-3
                  p #{blackBinDay}
                  p#blackBinDate #{blackBinDate}
            .column.is-hidden-mobile
              .card#greenBinCard
                .card-header-title.pb-1
                  figure.container(style="display: flex; align-items: center;")
                    img.icon(src='/static/assets/green_bin.svg', alt='Green Bin Icon').mr-1
                    p Green Bin
                .card-content.pt-1.pb-3
                  p #{greenBinDay}
                  p#greenBinDate #{greenBinDate}
        .column.is-hidden-mobile
          .columns
            .column
              #gasSummaryCard.card
                .card-header-title.pb-1
                  p 🔥 Gas
                .card-content.pt-1.pb-3
                  p #{energyInfo.gas.usage}
                  p #{energyInfo.gas.price}
                #gasFooter.card-footer.is-hidden
                  .card-footer-item
                    p#gasDay #{energyInfo.gas.date.toUTCString().split(",")[0]}
                  .card-footer-item
                    p#gasDate #{energyInfo.gas.date.toLocaleDateString().substring(0, 5)}
            .column
              #electricSummaryCard.card
                .card-header-title.pb-1
                  p ⚡️ Electric
                .card-content.pt-1.pb-3
                  p #{energyInfo.electric.usage}
                  p #{energyInfo.electric.price}
                #electricFooter.card-footer.is-hidden
                  .card-footer-item
                    p#electricDay #{energyInfo.electric.date.toUTCString().split(",")[0]}
                  .card-footer-item
                    p#electricDate #{energyInfo.electric.date.toLocaleDateString().substring(0, 5)}

      .columns
        .column
          .card(onclick="window.open('http://192.168.0.10:81/admin');")
            .card-content
              figure.container(style="display: flex; align-items: center;")
                img.icon(src='/static/assets/pihole.svg', alt='Pi Hole Icon').mr-1
                a.card-text(href='http://192.168.0.10:81/admin' target="_blank") Pi Hole
          .card.mt-6(onclick="window.open('http://192.168.0.10:5000/files/login')")
            .card-content
              figure.container(style="display: flex; align-items: center;")
                img.icon(src='/static/assets/files.png', alt='Files Icon').mr-1
                a.card-text(href='http://192.168.0.10:5000/files/login?redirect=%2Ffiles%2F' target="_blank") Files
          .card.mt-6(onclick="window.open('http://192.168.0.10:32400/web/')")
            .card-content
              figure.container(style="display: flex; align-items: center;")
                img.icon(src='/static/assets/plex.png', alt='Plex Logo').mr-1
                a.card-text(href='http://192.168.0.10:32400/web' target="_blank") Plex
          .card.mt-6(onclick="window.open('https://192.168.0.10:1234')")
            .card-content
              figure.container(style="display: flex; align-items: center;")
                img.icon(src='/static/assets/docker.png', alt='Portainer Icon').mr-1
                a.card-text(href='https://192.168.0.10:1234' target="_blank") Portainer


        .spacer.mt-4.is-hidden-tablet

        .column
          .card(onclick="location.href='/timesheet'")
            .card-content
              figure.container(style="display: flex; align-items: center;")
                img.icon(src='/static/assets/clock.png', alt='Clock Icon').mr-1
                a.card-text Timesheet
          .card.mt-6(onclick="location.href='/energy'")
            .card-content
              figure.container(style="display: flex; align-items: center;")
                img.icon(src='/static/assets/energy.png', alt='Energy Logo').mr-1
                a.card-text(href='/energy') Energy
          .card.mt-6(onclick="location.href='/stopwatch'")
            .card-content
              figure.container(style="display: flex; align-items: center;")
                img.icon(src='/static/assets/stopwatch.png', alt='Stopwatch Icon').mr-1
                a.card-text(href='/stopwatch') Stopwatch
          .card.mt-6(onclick="location.href='/pokemon'")
            .card-content
              figure.container(style="display: flex; align-items: center;")
                img.icon(src='/static/assets/pokemon.png', alt='Pokeball Icon').mr-1
                a.card-text(href='/pokemon') Pokemon