extend  ../components/header.pug

block append head
    script(src='/static/scripts/timesheet/edit.js')
    title Timesheet Edit
  
block append body
    .container.is-max-desktop.pl-6.pr-6
        nav.breadcrumb(aria-label="breadcrumbs")
            ul
                li
                    a(href="/") Home
                li
                    a(href="/timesheet") Timesheet
                li.is-active
                    a(href="", aria-current="page") Edit Time

        p.title.is-3 Edit Time
        p#date(hidden) #{date}
        form(action="/timesheet/edit", method="get", id="edit") 
            input(id='datepicker' type='date', name='date', onchange="document.forms['edit'].submit();", value=date).input

        .container.pt-6
        if locals.alert
            .notification.is-warning #{alert}

        .columns
            .column
                .card
                    .card-header-title Clock In
                    .card-content 
                        form(action="/timesheet/edit", method="post", id="save-clock_in")
                            input.input(id="input-clock_in", name="clock_in" placeholder="Clock In", value=`${clock_in ? clock_in.toISOString() : null}`, readonly, style="color: #c2c2c2", type="time").is-danger
                            input(type='hidden', name='date', value=date)
                    .card-footer
                        .card-footer-item(onclick="edit('clock_in')")
                            a(href="#" id="a-edit-clock_in") Edit
                        .card-footer-item(onclick="save('clock_in')")
                            a(href="#" style="color:#c2c2c2;" enabled="false" id="a-save-clock_in") Save
            .column
                .card
                    .card-header-title Break Start
                    .card-content 
                        form(action="/timesheet/edit", method="post", id="save-break_in")
                            input.input(id="input-break_in", name="break_in" placeholder="Break In", value=`${break_in ? break_in.toISOString() : null}`, readonly, style="color: #c2c2c2", type="time").is-danger
                            input(type='hidden', name='date', value=date)
                    .card-footer
                        .card-footer-item(onclick="edit('break_in')")
                            a(href="#" id="a-edit-break_in") Edit
                        .card-footer-item(onclick="save('break_in')")
                            a(href="#" style="color:#c2c2c2;" enabled="false" id="a-save-break_in") Save
            .column
                .card
                    .card-header-title Break End
                    .card-content 
                        form(action="/timesheet/edit", method="post", id="save-break_out")
                            input.input(id="input-break_out", name="break_out" placeholder="Break Out", value=`${break_out ? break_out.toISOString() : null}`, readonly, style="color: #c2c2c2", type="time").is-danger
                            input(type='hidden', name='date', value=date)
                    .card-footer
                        .card-footer-item(onclick="edit('break_out')")
                            a(href="#" id="a-edit-break_out") Edit
                        .card-footer-item(onclick="save('break_out')")
                            a(href="#" style="color:#c2c2c2;" enabled="false" id="a-save-break_out") Save
            .column
                .card
                    .card-header-title Clock Out
                    .card-content 
                        form(action="/timesheet/edit", method="post", id="save-clock_out")
                            input.input(id="input-clock_out", name="clock_out" placeholder="Clock Out", value=`${clock_out ? clock_out.toISOString() : null}`, readonly, style="color: #c2c2c2", type="time").is-danger
                            input(type='hidden', name='date', value=date)
                    .card-footer
                        .card-footer-item(onclick="edit('clock_out')")
                            a(href="#" id="a-edit-clock_out") Edit
                        .card-footer-item(onclick="save('clock_out')")
                            a(href="#" style="color:#c2c2c2;" enabled="false" id="a-save-clock_out") Save