extend  ../components/header.pug

block append head
   script(src='/static/scripts/modal.js')
   script(src="/static/scripts/timesheet/index.js")
   style.
    @media screen and (min-width: 769px){
    #day {
    float: right;
    }
    }
   title Timesheet

block append body
    .container.is-max-desktop.pl-6.pr-6
        nav.breadcrumb(aria-label="breadcrumbs")
            ul
                li
                    a(href="/") Home
                li.is-active
                    a(href="", aria-current="page") Timesheet
        p#proposedEndTime(hidden) #{proposedEndTime}
        p#proposedBreakEndTime(hidden) #{proposedBreakEndTime}
        p#nextAction(hidden) #{nextAction}
        p#overtimeStatus(hidden) #{overtimeStatus}
        p#overtimeWorked(hidden) #{overtimeWorked}

        .columns
            .column.is-half
                .title.is-2(hidden).mb-1#breakEnd
                .title.is-2#status
            .column.is-half
                .title.is-2#day #{day}
        .card
            .card-content.js-modal-trigger(data-target='modal-js-example')
                a.card-text #{nextAction}


            #modal-js-example.modal
                .modal-background
                .modal-card
                    .modal-card-head
                        p.modal-card-title #{nextAction}
                    .modal-card-body
                        p Are you sure you want to do this?
                    footer.modal-card-foot
                        form(action="/timesheet/enter", method="post", id="enterForm") 
                            input(type="hidden", name="action", value=nextAction)
                        button.button.is-info.is-fullwidth(onclick="document.forms['enterForm'].submit();") #{nextAction}
                        button.button.is-danger.is-fullwidth Cancel

        .card.mt-6
            .card-content(onclick="location.href='/timesheet/view';")
                a.card-text View Time
        .card.mt-6
            .card-content(onclick="location.href='/timesheet/edit';")
                a.card-text Edit Time