extend  ../components/header.pug
  
block append head
    link(rel='stylesheet', href='/static/styles/table-abbreviation.css')
    script(src='/static/scripts/timesheet/view.js')
    title View timesheet

    
block append body
    .container.is-max-desktop.pl-6.pr-6
        nav.breadcrumb(aria-label="breadcrumbs")
            ul
                li
                    a(href="/") Home
                li
                    a(href="/timesheet") Timesheet
                li.is-active
                    a(href="", aria-current="page") View Time
        p.title.is-3 View Time
        p#date(hidden) #{date}
        form(action="/timesheet/view", method="get", id="view") 
            input(id="datepicker" type='date', name='date', onchange="document.forms['view'].submit();", value=`${date}`).input

        .container.pt-6
        if locals.alert
            .notification.is-warning #{alert}
        if !clock_in
            .notification No data for this day
        else
            table.table.is-fullwidth
                thead
                    tr
                    th.full Clock In
                    th.abbr In
                    th.full Break Start
                    th.abbr Out
                    th.full Break End
                    th.abbr In
                    th.full Clock End
                    th.abbr Out
                    th.full +/-
                    th.abbr +/-
                tbody
                    tr  
                        td#clock_in #{clock_in ? clock_in.toISOString() : ""}
                        td#break_in #{break_in ? break_in.toISOString() : ""}
                        td#break_out #{break_out ? break_out.toISOString() : ""}
                        td#clock_out #{clock_out ? clock_out.toISOString() : ""}
                        if locals.difference
                            td #{difference}
    
            